#stiil-1 {
    -fx-background-color: linear-gradient(#8ebbff, #2ab1a8);
    -fx-background-radius: 25;
    -fx-background-insets: 0;
    -fx-text-fill: white; }

#stiil-2 {
    -fx-background-color: #9fa4cd, #4d5690;
    -fx-background-radius: 25;
    -fx-background-insets: 0;
    -fx-text-fill: antiquewhite;
}

/*#chart0 {*/
    /*-fx-bar-fill: #f9d900;*/
/*}*/

/*#chart1 {*/
    /*-fx-bar-fill: #a9e200;*/
/*}*/
